<p>&nbsp;</p>
<div class="progress">
    <div class="cursor-finger progress-bar progress-{{vote.key}}" role="progressbar" [ngStyle]="{'width': vote.value/sumAll*100+'%' }" *ngFor="let vote of allVoteCount | keyvalue ">
      {{vote.key | titlecase }}
    </div>
  </div>

<nav class="level is-mobile">
    <div class="level-item has-text-centered" 
    [ngClass]="voteType === ele.type ? 'progress-'+ele.color : 'text-'+ele.color "
    *ngFor="let ele of pollItems">
        <div>
            <p class="heading cursor-finger" (click)="triggerItem(ele.type)" >
                <span class="icon is-small" *ngIf="ele.icon">
                    <i class="{{ele.icon}}"></i>
                </span>
                {{ele.text}}
            </p>
          </div>
    </div>
  </nav>