<p>&nbsp;</p>
<div class="progress">
    <div class="progress-bar progress-real" role="progressbar" style="width:4%">
      Real
    </div>
    <div class="progress-bar progress-fake" role="progressbar" style="width:1%">
      Fake
    </div>
    <div class="progress-bar progress-neutral" role="progressbar" style="width:95%">
      Unknown
    </div>
  </div>

<nav class="level is-mobile">
    <div class="level-item has-text-centered  text-{{ele.color}}" *ngFor="let ele of pollItems">
        <div>
            <p class="heading" (click)="triggerItem(ele.type)">
                <span class="icon is-small" *ngIf="ele.icon">
                    <i class="{{ele.icon}}"></i>
                </span>
                {{ele.text}}
            </p>
          </div>
    </div>
  </nav>