<p>&nbsp;</p>
<progress class="progress is-primary is-small" title="Realness" value="50" max="100">50%</progress>

<nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">
            <!-- <span class="icon is-small">
                <i class="fas fa-arrow-up"></i>
            </span> -->
            Real
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <!-- <span class="icon is-small">
                    <i class="fas fa-arrow-down"></i>
                </span> -->
                Fake
            </p>
          </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <!-- <span class="icon is-small">
                    <i class="fas fa-arrow-down"></i>
                </span> -->
                Debatable
            </p>
          </div>
    </div>
    <!-- <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <span class="icon is-small">
                    <i class="fas fa-retweet"></i>
                </span>
            </p>
          </div>
    </div> -->
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <span class="icon is-small">
                    <i class="far fa-heart" aria-hidden></i>
                </span>
            </p>
          </div>
    </div>
  </nav>