<nav class="navbar position-fixed" style="width: 100%" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="width: 100%">
    <a class="navbar-item" href="/">
  <h1 class="title">Beespit
  </h1>
</a>

    <a role="button" class="navbar-burger burger navbar-end" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample" (click)="showBurgerMenu = !showBurgerMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <mat-sidenav-container *ngIf="showBurgerMenu">
    <mat-sidenav-content>
      <ul style="text-align: right; width: 100%" id="menu-navbar">
        <div class="inline" *ngIf="!isLoggedIn">
          <li><a class="cursor-finger" href="/">Home</a></li>
          <li><a class="cursor-finger" href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/terms']">Terms</a></li>
        </div>

        <div class="inline" *ngIf="isLoggedIn">
          <li><a href="/">Home</a></li>
          <li *ngIf="handle"><a href="/p/{{handle}}">Profile</a></li>
          <li><a href="/notifications">Notifications</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </div>
      </ul>
    </mat-sidenav-content>

  </mat-sidenav-container>

</nav>