<div class="container">
    <h1 class="title">Falsy | Truthy</h1>
    <h2 class="subtitle">No more BS.</h2>

    <div class="content">
        <div class="is-medium">
            Falsy | Truthy is a crowdsource verification platform. 

            <p><br>
                There are times when things get passed on the internet(event/news/social), it sometimes may come off as real but may contain missing information, such as before the video recording or trimmed off videos, misinterpretation of a speech, and many more.
            </p>
            <p>
                Falsy | Truthy is designed for users to vote their opinions on the article.
            </p>
            <p>
                <b>How does it work?</b>
                <br>If a user submits a source:
                <ul>
                    <li>the user must vote by typing a ^</li>
                    <li>the user must submit an appropriate link</li>
                    <li>user's vote remains anonymous</li>
                </ul>
                If a user replies to a <u>comment</u>:
                <ul>
                    <li>No need to vote but can choose to</li>
                </ul>
                If a user VOTES to <u>comment</u>:
                <ul>
                    <li>Whatever the original user voted for, 
                        the current user will attribute to half a point of agreement/disagreement.
                    </li>
                    <li>Example: If the original user (A) voted ^Real and posted a url with a comment. 
                        (B) user reads (A)'s comments and agrees, then selects "Truthy". This will add
                        to the original ^Real vote.<br>
                        If user (B) doesn't like (A)'s comments then ^Real points is deducted and 
                        ^Neutral points is added.
                        <br>Comment vote points are only 1% of the total.
                    </li>
                </ul>
                If a user replies to the <u>article</u>: 
                <ul>
                    <li>
                        a vote is needed
                    </li>
                </ul>

                <br>
                Vote counts are not disclosed until 100 votes achieve.
        
        </div>
    </div>
</div>