<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h1 class="h1">Trending</h1>
          <div
          class="search-results"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [fromRoot]="true"
          (scrolled)="onScroll()"
        >
        <app-feed-detail [articleInfo]="article" *ngFor="let article of articles"></app-feed-detail>
        </div>
        </div>
        <div class="col-md-4">
          <app-poll-form></app-poll-form>
        </div>
      </div>
</div>
