<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="position-fixed">
                <aside class="menu">
                    <ul class="menu-list">
                        <li><a class="navbar-brand title" href="/">Buzzler</a></li>

                        <div class="inline" *ngIf="!isLoggedIn">
                            <li><a href="/">Home</a></li>
                            <li><a [routerLink]="['/signup']">Signup</a></li>
                            <li><a [routerLink]="['/login']">Login</a></li>
                        </div>

                        <div class="inline" *ngIf="isLoggedIn">
                            <li><a href="/">Home</a></li>
                            <li><a [routerLink]="['/account']">Profile</a></li>
                            <li><a [routerLink]="['/notifications']">Notifications</a></li>
                            <li><a (click)="logout()">Logout</a></li>
                        </div>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-md-7">
            <div style="
              overflow-y:hidden;">
                <router-outlet></router-outlet>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="position-fixed">
                <div class=" container is-widescreen">
                    <input class="input is-rounded" type="text" placeholder="Search">
                </div>
                <app-poll-form></app-poll-form>
            </div>
    
        </div>
    </div>
</div>