<div class="container">
  <div class="row">
    <button class="button is-white" (click)="backClicked()">
      <i class="fas fa-arrow-left"></i> &nbsp; Back
    </button>

    <div class="content">

        <div class="media-content">
          <div class="content" *ngIf="showComment">
            <app-reply 
            [oneComment]="showComment[0]" 
            (updateLike)="updateLike()"
            (newComment)="newComment()"
            [metaTags]="articleInfo"></app-reply>
          </div>
          <!-- <app-link-preview [linkInfo]="articleInfo" *ngIf="articleInfo"></app-link-preview> -->
        </div>

      <ng-container *ngIf="showComment">
        <div *ngFor="let comment of showComment[0]?.response">
          <app-reply *ngIf="comment.user"
          [main]="true" 
          (newComment)="newComment()"
          [oneComment]="comment" 
          [hideType]="true"></app-reply>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="space-110"></div>