<div>
    <div class="title" *ngIf="!hideHeader">
        Post it
    </div>
    <div class="field">
        <p class="help is-success">Paste url, enter comment and vote. To vote use '^'</p>
        <textarea class="textarea is-warning" type="text" 
        #input
        placeholder="@fakenews only does ^Fake #election. Check out this post."
        [mentionConfig]="mentionConfig"
        (searchTerm)="parseText($event)"
        (closed)="mentionClose()"
        (input)="textInput = $event.target.value"
        ></textarea>
    </div>

    <p class="help is-danger" *ngIf="!submitArticle?.valid && isLoggedIn && !disableReqVote">
        Url and vote is required.</p>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit" (click)="onSubmit()" [disabled]="!submitArticle.valid">Submit</button>
        </div>
    </div>
    <div class="row">
        {{ message }}  
    </div>  
</div>


    <!-- <div class="field">
            <input class="input" type="url"
                [ngClass]="brokenUrl || (!submitArticle.controls['url'].valid && submitArticle.controls['url']?.touched) ? 'is-danger': 'is-primary'"
                placeholder="Url Address" pattern="https://.*" size="30" formControlName="url">
            <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
            </span>
            <span class="icon is-small is-right is-danger"
                *ngIf="!submitArticle.controls['url'].valid && submitArticle.controls['url']?.touched">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        <p class="help is-danger"
            *ngIf="brokenUrl || (!submitArticle.controls['url'].valid && submitArticle.controls['url']?.touched)">
            Url is invalid</p>
    </div>

    <div class="field">
        <div class="control">
            <span class="icon is-small">
                <i class="fas fa-hashtag"></i>
            </span>
            Limit 5 Tag 
            <mat-form-field>
                <mat-chip-list #chipList aria-label="hashtag selection">
                  <mat-chip
                    *ngFor="let hashtag of hashtags"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(hashtag)">
                    {{hashtag}} 
                    &nbsp; <i class="fas fa-times" *ngIf="removable" (click)="remove(hashtag)"></i>
                  </mat-chip>
                  <input
                    #hashtagInput
                    [formControl]="hashtagCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let tag of filteredHashtags | async " [value]="tag._id">
                        {{tag.hashtag}}
                    </mat-option>
                    </mat-autocomplete>
                
              </mat-form-field>
    
            
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="radio">
                <input type="radio" formControlName="real" value="fake">
                #Fake
            </label>
            <label class="radio">
                <input type="radio" formControlName="real" value="real">
                #Real
            </label>
            <label class="radio">
                <input type="radio" formControlName="real" value="debatable">
                #Debatable
            </label>
        </div>
        <small>Values may change after polling.</small>
    </div>

    <div class="field" *ngIf="submitArticle.controls?.real.value === 'fake'">
        <li *ngFor="let fa of subFake">
            <mat-checkbox 
                          [color]="fa.color"
                          (change)="updateFakeSelection(fa.name)">
              {{fa.name}}
            </mat-checkbox>
          </li>
    </div> -->

