
  <div class="field">
    <label class="label">Link</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-primary" type="url" placeholder="Email input" 
      pattern="https://.*" size="30">
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help is-danger">Url is invalid</p>
  </div>
  
  <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="Topics">
        <span class="icon is-small is-left">
            <i class="fas fa-hashtag"></i>
          </span>
      </div>
  </div>
    
  <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Fake News
      </label>
      <label class="radio">
        <input type="radio" name="question">
        Real News
      </label>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>