// This is where we put global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Nunito:400,700');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$turquoise: #44ddd0;
$softred: #dd4451; //complement

$green: #27d7a1;
$strong-pink: #d7275d; //complement

$light-green: #45f69e; 
$dark-green: rgb(0, 100, 80);

$light: #f8f8f8;

$black: #000;
$gray-100: #f9f9f9;
$gray-200: #ededed;
$gray-300: #e0e0e0;
$gray-400:#d3d3d3;
$white: #fff;
$neutral: #e3bd67;

$border-radius: 20px;
$progress-border-radius: 20px;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $turquoise;


// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Set custom global styles (will be applied to whole app)

html {
    background: transparent //linear-gradient(to right top, $turquoise, $green);
}

html, body {
    font-family: 'Roboto';
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title {
    font-family: 'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.white-box {
    padding: 35px;
    background: white;
    border-radius: 5px;

    width: 350px;
    max-width: 350px;
    
}

.article-frame{
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    padding: 20px;

    img{
        border-radius: 10px
    }
}

.media-wrapper{
    border: 1px solid #ededed;
    padding: 10px;
}

.no-padding {
    .mat-dialog-container {
      padding: 0px!important;
    }
  }

.progress-real {
    background-color: $green;
    color: $white;
}
.progress-fake {
    background-color: $strong-pink;
    color: $white;
}
.progress-neutral {
    background-color: $neutral;
    color: $white;
}
  
.text-real {
  color: $green;
  font-weight: 500;
}
.text-fake {
  color: $strong-pink;
  font-weight: 500;
}
.text-neutral {
  color: $neutral;
  font-weight: 500;
}

.cursor-finger {
    cursor: pointer;
}