<ng-container *ngIf="innerWidth > 767; else mobile">
    <article class="media">
        <!-- <div class="center-cropped"
        [ngStyle]="{'background-image': 'url(' + linkInfo['og:image'] + ')'}"
        > -->
        <div class="center-cropped">
            <img [src]="linkInfo['og:image']" />
            <small class="is-pulled-right">
                <a href="{{linkInfo['source']}}"></a>{{linkInfo['og:site_name']}}
            </small>
        </div>
        <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{linkInfo['og:title']}}</strong>
                    <br>
                    {{linkInfo['og:description']}}
                </p>
            </div>
            <app-nav-poll></app-nav-poll>
        </div>
    </article>

</ng-container>
<ng-template #mobile>
    <div class="content">
        <small>
            <a href="{{linkInfo['source']}}"></a>{{linkInfo['og:site_name']}}
        </small>
        <br>
        <strong>{{linkInfo['og:title']}}</strong> 
        <br>
        {{linkInfo['og:description']}}
        <div class="center-cropped">
            <img [src]="linkInfo['og:image']" />
        </div>
    <app-nav-poll></app-nav-poll>
  </div>
</ng-template>