<div class="is-full" >
  <app-loading [size]="fa-md" *ngIf="loading  "></app-loading>
</div>

<div class="card" *ngIf="!loading && metaTags">
    <div (click)="openLink(metaTags['url'])">
      <div class="card-content">
        <p class="title is-4">{{metaTags['og:title']}}</p>
  
        <div class="content">
          {{metaTags['og:description']}}
          <a href="#" *ngFor="let hashtag of  linkInfo['hashtags']">#{{hashtag}}</a>
          <br>
          <small>{{metaTags['og:site_name']}}</small>
        </div>
      </div>
    </div>
    <app-nav-poll [articleInfo]="linkInfo" [metaTags]="metaTags"></app-nav-poll>
    <div class="card-image">
      <figure class="image is-4by2">
        <img [src]="metaTags['og:image']" alt="{{metaTags['og:title']}}">
      </figure>
    </div>
</div>