<div class="content response-content"  (click)="articleDetails()">
      <strong>{{ oneComment.user?.displayname}} 
        <a [routerLink]="['/p', oneComment.user.handle ]">{{oneComment.user.handle }}</a>
        <span class="badge">{{ oneComment.type | titlecase }} comment</span></strong>
      <br>
      <div [innerHTML]="oneComment.reply"></div>
      <br>
  </div>
  <small class="response-likes"><a (click)="likeComment()">Like</a> · 
    <a (click)="openDialogComment()">Reply</a> 
      {{ oneComment?.submittedDate | date: 'MM-dd-yy' }}
  </small>
  <br>