<div class="content response-content"  (click)="articleDetails()">
      <strong>{{ oneComment.user?.displayname}} 
        <a [routerLink]="['/p', oneComment.user.handle ]">{{oneComment.user.handle }}</a>
        <span class="badge">{{ oneComment.type | titlecase }} comment</span></strong>
      <br>
      <div [innerHTML]="oneComment.reply"></div>
      <br>
  </div>
  <small class="response-likes wrapper">
    {{oneComment.countLikes}} Feedback  · 
    <a (click)="likeComment('yes')" [ngClass]="{'like': oneComment?.likes?.response === 'yes'}"> Agree </a> 
    <a (click)="likeComment('no')" class="btn-no"  [ngClass]="{'like': oneComment?.likes?.response === 'no' }"> Disagree</a> · 
    <a (click)="openDialogComment()">Reply</a> 
      {{ oneComment?.submittedDate | date: 'MM-dd-yy' }}
  </small>
  <br>