<article class="media "[ngClass]="{'border-media': main}"> 
  <div class="media-left">
    <figure class="image rounded is-48x48" *ngIf="oneComment.user.photoUrl !==''">
      <img src="{{baseUrl}}{{oneComment.user?.photoUrl}}">
    </figure>
    <figure class="image rounded is-48x48" *ngIf="oneComment.user.photoUrl ===''">
      <img src="{{defaultImage}}">
    </figure>
  </div>
  <div class="media-content" >
    <div class="content">
      <div (click)="articleDetails()">
        <strong>{{ oneComment.user?.displayname}}
          <a [routerLink]="['/p', oneComment.user.handle ]">{{oneComment.user.handle }}</a>
          <span class="badge" *ngIf="!hideType">{{ oneComment.type | titlecase }} comment</span></strong>
        <br>
        <div [innerHTML]="oneComment.reply"></div>
        <br>
      </div>
      
      <app-link-preview *ngIf="metaTags" [linkInfo]="metaTags"></app-link-preview>

      <small class="response-likes wrapper">
        {{ oneComment.likes }} {{ response }}
        {{oneComment.countLikes}} Poll ·
        <ng-container *ngIf="oneComment.likes === 'no'; else default">
          <a (click)="likeComment('no')" [ngClass]="{'dislike': oneComment?.likes === 'no'}"> Falsy </a>
          <a (click)="likeComment('yes')" class="btn-no" [ngClass]="{'like': oneComment?.likes === 'yes' }"> Truthy</a>
          ·
        </ng-container>
        <ng-template #default>
          <a (click)="likeComment('yes')" [ngClass]="{'like': oneComment?.likes === 'yes'}"> Truthy </a>
          <a (click)="likeComment('no')" class="btn-no" [ngClass]="{'like': oneComment?.likes === 'no' }"> Falsy</a> ·
        </ng-template>

        <a (click)="openDialogComment()">Reply</a>
        {{ oneComment?.submittedDate | date: 'MM-dd-yy' }}
      </small>
    </div>
    <ng-container *ngIf="main">
      <app-reply [oneComment]="response" [hideType]="true" *ngFor="let response of oneComment.response"></app-reply>
    </ng-container>
  </div>
</article>
